*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}
header{
    margin: auto;
    text-align: center;
}
.menu{
    display: inline-block;
    width: 1150px;
    height: 60px;
    background-color: black;
}
.marcamenu{
    display: inline;
    height: 40px;
    float: left;
    margin-left: 40px;
    margin-top: 14px;
}
ul{
    display: inline;
    float: right;
    margin-top: 28px;
    margin-right: 80px;
}
li{
    display: inline;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.igicon{
    width: 30px;
    position:absolute;
    float: right;
    margin-left: 690px;
    margin-top: 21px;   
}

.bgvortex{
    height: 560px;
    background-image: url(images/rapido.jpg);
    background-size: 1150px;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding-top: 0;
}
.brand2{
    background-position-x: center;
    margin-top: 200px;
    overflow: hidden;
}
.praticas{
    margin: auto;
    text-align: center;
    background-color: white;
    height: 625px;
    width: 1150px;

}
.sp{
    height: 130px;
    float: left;
    margin-top: 80px;
    margin-left: 60px;
}

h2{
    font-size: 3rem;
    text-align: right;
    padding-top: 120px;
    padding-right: 190px;
}
.subline{
    background-color: rgb(44, 44, 146);
    height: 10px;
    width: 150px;
    float: right;
    margin-right: 284px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.listapraticas{
    float: left;
    background-position-x: 10px;
    margin-right: 20px;
    width: 270px;
    height: 130px;
    margin-top: 30px;
    margin-left: 65px;   
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #3B3A3A
}
.bloco1{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.bloco2{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.bloco3{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.bloco4{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.bloco5{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.bloco6{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.bloco1{
    text-align:left;
    background-color: #F7F7F7;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.expertise{
    margin: auto;
    background-color:#F7F7F7;
    text-align: left;
    height: 730px;
    width: 1150px;
}
.imgexpertise{
    float: right;
    width: 550px;
}
.expertiseTitle{
    padding-top: 30px;
    float: left;
    font-size: 3rem;
    margin-left: 50px;
    text-align: left;
}
.subline2{
    background-color: rgb(44, 44, 146);
    height: 10px;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.expertiseBlocoText{
    float: left;
    text-align: left;
}
.txtExpertise{
    font-family: Arial,Helvetica,sans-serif;
    width: 440px;
    padding-top: 150px;
    margin-left: 50px;
    font-size: 1.7rem;
    font-family:sans-serif;
    font-weight: lighter;
    color: #3B3A3A
}
.txtExpertise2{
    width: 440px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.7rem;
    font-family:sans-serif;
    font-weight: lighter;
    color: #3B3A3A
}
.mauroAmaral{
    margin: auto;
    background-color:#ffffff;
    text-align: left;
    height: 1200px;
    width: 1150px;
}
.mauroTitle{
    padding-top: 60px;
    float: left;
    font-size: 3.4rem;
    margin-right: 400px;
    margin-left: 50px;
    text-align: left;
    clear: right;
}
.subline3{
    display: block;
    background-color: rgb(44, 44, 146);
    height: 10px;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 500px;
    clear: right;
}
.fotoMauro{
    float: left;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    width: 375px;
}
.mauroBlocoText{
    margin: right;
    float: right;
    padding-top: 250px;
    margin-left: 50px;
    margin-right: 80px;
}
.txtMauro{
    display: inline;
    font-family: Helvetica,sans-serif;
    width: 440px;
    font-size: 1.7rem;
    font-family:sans-serif;
    font-weight: lighter;
    color: #3B3A3A
}
.txtMauro2{
    width: 440px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.7rem;
    font-family:sans-serif;
    font-weight: lighter;
    color: #3B3A3A
}